@import "../css/mixins.scss";

.market-page {
  .l-container {
    max-width: 1180px;
    min-width: 320px;
    @media screen and (max-width: $break-desktop - 1) {
      max-width: 768px;
    }
    @media screen and (max-width: $break-tablet - 1) {
      max-width: 500px;
    }
    @media screen and (max-width: $break-smart-p - 1) {
      max-width: 320px;
      padding: 0 10px;
    }
  }
  .l-main-content {
    width: 900px;
    @media screen and (max-width: $break-desktop - 1) {
      max-width: 600px;
      width: 100%;
    }
    @media screen and (max-width: $break-tablet - 1) {
      float: none;
      max-width: 500px;
      width: 100%;
    }
  }
  .l-main-aside {
    width: 280px;
    @media screen and (max-width: $break-desktop - 1) and (min-width: $break-tablet) {
      padding-left: 10px;
      width: 168px;
    }
    @media screen and (max-width: $break-tablet - 1) {
      float: none;
      width: 100%;
      padding: 20px 0 10px 0;
    }
  }
}

.l-container {
  @include center;
  max-width: 1265px;
  min-width: 320px;
  @media screen and (max-width: $break-desktop - 1) {
    max-width: 768px;
  }
  @media screen and (max-width: $break-tablet - 1) {
    max-width: 500px;
  }
  @media screen and (max-width: $break-smart-p - 1) {
    max-width: 320px;
    padding: 0 10px;
  }
}


.l-content {
  @include clear-fix;
  margin-top: 25px;
  @media screen and (max-width: $break-tablet - 1) {
  }
}

.l-main-content {
  @include clear-fix;
  float: left;
  width: 940px;
  position: relative;
  @media screen and (max-width: $break-desktop - 1) {
    max-width: 600px;
    width: 100%;
  }
  @media screen and (max-width: $break-tablet - 1) {
    float: none;
    max-width: 500px;
    width: 100%;
  }
}

.l-main-aside {
  float: right;
  padding: 5px 15px 5px 15px;
  width: 325px;
  @media screen and (max-width: $break-desktop - 1) and (min-width: $break-tablet) {
    padding-left: 10px;
    width: 168px;
  }
  @media screen and (max-width: $break-tablet - 1) {
    float: none;
    width: 100%;
    padding: 20px 0 10px 0;
  }

  .b-bottom_menu {
    li {
      @media screen and (max-width: $break-desktop - 1) and (min-width: $break-tablet) {
        display: block;
        padding-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  footer {
    @media screen and (max-width: $break-desktop - 1) {
      margin: 30px -11px 0 -11px;
    }
    @media screen and (max-width: $break-tablet - 1) {
      margin: 30px 0 0 0;
    }
  }

}

.l-footer-inner {
  @include center;
  max-width: 1180px;
}

.page-shadow {
  background: url(../img/page-top-shadow.jpg) repeat-x 0 1px;
  padding-top: 30px;
}

.page-content {
  @include clear-fix;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  padding: 10px 0 30px 0;

  @media screen and (max-width: $break-desktop - 1) {
    max-width: 768px;
  }
  @media screen and (max-width: $break-tablet - 1) {
    max-width: 500px;
  }
  @media screen and (max-width: $break-smart-p - 1) {
    max-width: 320px;
  }

  h1 {
    font-size: 49.1px;
    font-weight: normal;
    line-height: 1.2;
    margin: 20px 0 30px 0;
    padding: 0;
    color: $default-color;
    text-align: center;
    @media screen and (max-width: $break-tablet - 1) {
      font-size: 36px;
    }
    @media screen and (max-width: $break-smart-p - 1) {
      font-size: 24px;
      margin: 10px 0 20px 0;
    }
  }

  .page-horizontal-block {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #171617;
    margin-top: 25px;
    padding: 10px 5px 0 5px;

    h3 {
      font-size: 34.15px;
      font-family: "Times New Roman";
      text-transform: uppercase;
      color: #6797a3;
      margin: 7px 0;
      font-weight: normal;
      @media screen and (max-width: $break-tablet - 1) {
        font-size: 28px;
      }
      @media screen and (max-width: $break-smart-p - 1) {
        font-size: 20px;
      }
    }
  }
}

.page-main-content-container {
  @include clear-fix;
  @media screen and (max-width: $break-tablet - 1) {
    display: flex;
    flex-direction: column;
  }
}

.page-main-content {
  @include clear-fix;
  width: auto;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  @media screen and (max-width: $break-tablet - 1) {
    float: none;
    max-width: 100%;
  }
  @media screen and (max-width: $break-tablet - 1) {
    order: 2;
  }

  h2 {
    color: #171617;
    font-size: 25.02px;
    font-weight: normal;
    margin: 20px 0;

    @media screen and (max-width: $break-desktop - 1) {
      font-size: 23px;
    }

    @media screen and (max-width: $break-tablet - 1) {
      font-size: 21px;
    }

    @media screen and (max-width: $break-smart-l - 1) {
      font-size: 19px;
    }
  }

  h3 {
    color: #000;
    font-size: 28px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 10px;
    text-align: left;
  }

  ul {
    list-style: disc;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
  }
}

.article-page {
  overflow: visible;
  padding-right: 385px;
  @media screen and (max-width: $break-desktop - 1) {
    padding-right: 250px;
  }
  @media screen and (max-width: $break-tablet - 1) {
    padding-right: 20px;
  }
}

.page-sidebar {
  float: right;
  clear: right;
  width: 100%;
  max-width: 375px;
  padding: 5px 50px 5px 30px;
  position: relative;
  z-index: 100;
  @media screen and (max-width: $break-desktop - 1) {
    max-width: 240px;
  }
  @media screen and (max-width: $break-tablet - 1) {
    position: relative;
    max-width: 100%;
    float: none;
    order: 3;
  }

  .page-sidebar-block {
    margin-bottom: 30px;
    h3 {
      font-family: 'Helvetica Neue','Segoe UI','Arial',sans-serif;
      font-weight: bold;
      line-height: 13px;
      font-size: 13px;
      color: $default-color;
      margin: 0 0 10px 0;
    }

    ul {
      list-style: disc outside none;
      padding-left: 20px;
    }
  }
}

