{% extends '::base.html.twig' %}


{% block body %}
<div class="webad_wrap" style="text-align:center;">
    <div id="subheader2" style="text-align:center;"><h1>{{ page_name }}</h1>
    </div>
    <div id="ad_image" style="padding-bottom:20px;">
        <img src="http://www.nexus.loc/wp-content/uploads/2013/12/162618.17900.jpg" />
    </div>
    <div id="ad_address">5756 S. Staples, Suite B<br>
        Corpus Christi, TX 78413</div>
    <div id="ad_phone" style="padding-bottom:20px;">361-994-5414</div>
    <a href="#" onclick="history.go(-1); return false;" class="go_back">&lt; GO BACK</a></div>

{% endblock %}