.search-box {
  float: right;
  padding-top: 14px; }
  .search-box input {
    font-size: 1.2em;
    line-height: 1.4;
    color: black;
    padding-left: 27px;
    background: transparent url("../../img/magnifying-glass.png") 4px no-repeat;
    border: 1px solid #ccc;
    border-radius: 4px; }
