@import "../../css/mixins.scss";

.b-top_menu {
  @include clear-fix;
  float: left;
  margin-top: 3px;
  @media screen and (max-width: $break-smart-p - 1) {
    float: none;
  }

  ul, ol {
    list-style-type: none;
  }
}

.b-top_menu-1level {
  list-style: none;
  margin-top: 4px;
  position: relative;

  & > li {
    float: left;
    list-style: none;
    margin-left: -5px;
    position: relative;
    @media screen and (max-width: $break-smart-p - 1) {
      position: static;
    }

    &:first-child {
      margin-left: 0;
    }

    & > a {
      @include border-radius(5px 5px 0 0);
      display: block;
      padding: 5px 12px 5px 15px;
      position: relative;
      @media screen and (max-width: $break-smart-p - 1) {
        padding-left: 12px;
        padding-right: 8px;
      }

      &.first {
        background: #F00;
        z-index: 3;
      }

      &.second {
        background: #66C;
        z-index: 2;
      }

      &.third {
        background: #09F;
        z-index: 1;
      }

      &:hover {
        background: #007ab6;
      }
    }
  }
}

.f-top_menu-1level {
  & > li > a {
    @include font(14);
    color: #fff;
    text-decoration: none;
  }
}

.b-top_menu-2level {
  background: rgba(246, 246, 246, 0.98);
  display: none;
  left: 5px;
  padding: 10px 10px 10px 30px;
  position: absolute;
  left: -3px;
  top: 29px;
  width: 240px;
  z-index: 3;
  @media screen and (max-width: $break-smart-p - 1) {
    left: 0;
    width: 100%;
  }
  & > li > a {
    display: block;
  }
}

.f-top_menu-2level {
  & > li > a {
    @include font(14, 30);
    color: #383838;
    text-decoration: none;

    &:hover,
    &.is-active {
      color: $c-link-hover;
    }
  }
}
